<form>
  <div class="form-group">
    <label>Nombres</label>
    <input [(ngModel)]="customer.name" type="text" class="form-control" name="name">
  </div>

  <div class="form-group">
    <label>DNI</label>
    <input [(ngModel)]="customer.dni" type="text" class="form-control" name="dni">
  </div>

  <div class="form-group">
    <label>Telefono 1</label>
    <input [(ngModel)]="customer.phone_1" type="text" class="form-control" name="phone_1">
  </div>

  <div class="form-group">
    <label>Telefono 2</label>
    <input [(ngModel)]="customer.phone_2" type="text" class="form-control" name="phone_2">
  </div>


<!--  <button (click)="saveCustomer()" class="btn btn-primary">Submit</button>-->
  <button (click)="saveCustomer()" class="btn btn-outline-primary">Guardar</button>
</form>
