<div>
  <div class="form-group">
    <label>Nombre</label>
    <input [(ngModel)]="technical.name" type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label>Apellido</label>
    <input [(ngModel)]="technical.last_name" type="text" name="last_name" class="form-control">
  </div>
  <div class="form-group">
    <label>DNI</label>
    <input [(ngModel)]="technical.dni" type="text" name="dni" class="form-control">
  </div>
  <div class="form-group">
    <label>Telefono</label>
    <input [(ngModel)]="technical.phone" type="text" name="phone" class="form-control">
  </div>

  <button (click)="saveTechnical()" class="btn btn-outline-primary">Guardar</button>
</div>
