<div class="container">
  <div class="row d-flex justify-content-around">
    <form class="col-sm-4">
      <div class="form-group">
        <label>Nombres</label>
        <input [(ngModel)]="customer.name" type="text" class="form-control" name="name">
      </div>

      <div class="form-group">
        <label>DNI</label>
        <input [(ngModel)]="customer.dni" type="text" class="form-control" name="dni">
      </div>

      <div class="form-group">
        <label>Telefono 1</label>
        <input [(ngModel)]="customer.phone_1" type="text" class="form-control" name="phone_1">
      </div>

      <div class="form-group">
        <label>Telefono 2</label>
        <input [(ngModel)]="customer.phone_2" type="text" class="form-control" name="phone_2">
      </div>

<!--      <button (click)="saveCustomer()" class="btn btn-outline-primary">Guardar</button>-->
    </form>


    <form class="col-sm-4">
      <div class="form-group">


<!--        <div class="form-group">-->
<!--          <label>Cliente</label>-->
<!--          <select [(ngModel)]="agreement.id_customer" name="id_customer">-->
<!--            <option *ngFor="let c of customers" [value]="c.id">{{ c.name}}</option>-->
<!--          </select>-->
<!--        </div>-->

        <div class="form-group">
          <label >Técnico</label>
          <select [(ngModel)]="agreement.id_technical" name="id_technical">
            <option *ngFor="let t of technicals" [value]="t.id">{{ t.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Precio</label>
          <input [(ngModel)]="agreement.price" type="text" class="form-control" name="price">
        </div>

        <div class="form-group">
          <label>Descripcion Cliente</label>
          <input [(ngModel)]="agreement.customer_description" type="text" class="form-control" name="customer_description">
        </div>

        <div class="form-group">
          <label>Descripcion Técnico</label>
          <input [(ngModel)]="agreement.technical_description" type="text" class="form-control" name="technical_description">
        </div>

        <div class="form-group">
          <label>Model</label>
          <input [(ngModel)]="agreement.model" type="text" class="form-control" name="model">
        </div>

        <div class="form-group">
          <label>N° Boleta</label>
          <input [(ngModel)]="agreement.code_ticket" type="text" class="form-control" name="code_ticket">
        </div>

      </div>
      <button (click)="saveAgreement()" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>
