<div class="container-fluid">
  <div class="row d-flex justify-content-end">
    <button routerLink="/form-agreement" class="btn btn-outline-primary">+ Reparacion</button>
  </div>
  <br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">N° Boleta</th>
      <th scope="col">Cliente</th>
      <th scope="col">Celular</th>
      <th scope="col">Equipo Reparar</th>
      <th scope="col">Descripcion de Cliente</th>
      <th scope="col">Técnico</th>
      <th scope="col">Descripcion de Técnico</th>
      <th scope="col">Precio</th>
      <th scope="col">Acción</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let agreement of agreements">
      <th>{{agreement.id}}</th>
      <td>{{agreement.code_ticket}}</td>
      <td>{{agreement.customer.name}}</td>
      <td>{{agreement.customer.phone_1}}</td>
      <td>{{agreement.model}}</td>
      <td>{{agreement.customer_description}}</td>
      <td>{{agreement.technical.name}}</td>
      <td>{{agreement.technical_description}}</td>
      <td>{{agreement.price}}</td>
      <td>
        <a class="btn btn-primary btn-sm" routerLink="/form-agreement/{{ agreement.id }}">Ver/Editar</a>
        <a class="btn btn-danger btn-sm" (click)="delete(agreement.id)">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
