<!--<app-main></app-main>-->
<router-outlet></router-outlet>
<!--<div class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <ul class="nav nav-pills">-->
<!--    <li class="nav-item">-->
<!--&lt;!&ndash;      <a class="nav-link active" routerLink="/">Home</a>&ndash;&gt;-->
<!--      <a class="nav-link" routerLink="/">Home</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLink="technical">Tecnicos</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLink="customer">Clientes</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLink="agreement">Reparaciones</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
<!--<br>-->


