<div class="parts">
  <div class="col-sm-12 d-flex justify-content-around">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/pantalla.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Pantallas</h5>
        <p class="card-text">Las mejores pantallas de excelente calidad</p>
        <a href="#" class="btn btn-primary">Ver Detalles</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/camara.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Camaras</h5>
        <p class="card-text">Camaras de todas las marcas y modelos</p>
        <a href="#" class="btn btn-primary">Ver Detalles</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/socalo.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Zocalos</h5>
        <p class="card-text">Los mejores zocalos para todos los modelos</p>
        <a href="#" class="btn btn-primary">Ver Detalles</a>
      </div>
    </div>
  </div>
  <br>
  <div class="col-sm-12 d-flex justify-content-around">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/parlante.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Parlantes</h5>
        <p class="card-text">Los mejores parlantes de excelente calidad</p>
        <a href="#" class="btn btn-primary">Ver Detalles</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/tapa.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Tapas</h5>
        <p class="card-text">Tapas de todas las marcas y modelos</p>
        <a href="#" class="btn btn-primary">Ver Detalles</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/flex.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Flex</h5>
        <p class="card-text">Los mejores flexs para todos los modelos</p>
        <a href="#" class="btn btn-primary">Ver Detalles</a>
      </div>
    </div>
    
  </div>
  <br>
  <div class="col-sm-12 d-flex justify-content-center">
    <a href="#" class="btn btn-outline-primary">Ver mas repuestos...</a>
  </div>
</div>
