<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="1000">
      <img src="./assets/img_1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cambio de pantalla</h5>
        <p>de todas las marcas y modelos</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="1000">
      <img src="./assets/img_2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="1000">
      <img src="./assets/img_3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!--=========== SERVICIOS ==================-->
<br>

<div class="services">
  <div class="col-sm-12 name-section align-content-center">
    <h3 class="text-center">Servicios</h3>
  </div>
  <div class="col-sm-12 d-flex justify-content-around">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/img_2.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Puerto Carga</h5>
        <p class="card-text">Tu celular no carga, posiblente este fallando el puerto de carga(zocalo)</p>
        <a routerLink="quote" class="btn btn-primary">Ver Precio</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/img_2.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Cambio de Pantalla</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/img_2.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Cambio de bateria</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <br>
  <div class="col-sm-12 d-flex justify-content-center">
    <a href="#" class="btn btn-outline-primary">Ver mas Servicios...</a>
  </div>
</div>
<br>

<!--============ OFERTAS ==============-->
<div class="offers">

</div>
<!-- ================= REPUESTOS =========-->
<div class="parts">
  <div class="col-sm-12 d-flex justify-content-around">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/img_2.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/img_2.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/img_2.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <br>
  <div class="col-sm-12 d-flex justify-content-center">
    <a href="#" class="btn btn-outline-primary">Ver mas repuestos...</a>
  </div>
</div>
<!--========  FOOTER ===========-->
<div class="footer">

</div>
