<div class="row d-flex justify-content-end">
  <button routerLink="/form-technical" class="btn btn-outline-primary">+ Técnico</button>
</div>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">DNI</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Acción</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let technical of technicals">
    <th>{{ technical.id}}</th>
    <td>{{ technical.dni }}</td>
    <td>{{ technical.name }}</td>
    <td>{{ technical.last_name }}</td>
    <td>{{ technical.phone }}</td>
    <td>
      <button routerLink="/form-technical/{{ technical.id }}" class="btn btn-outline-primary btn-sm mr-3">Ver/Editar</button>
      <button (click)="delete(technical.id)" class="btn btn-outline-danger btn-sm">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>
