<nav class="navbar navbar-expand-sm  navbar-dark bg-primary">
  <div class="col-sm-4">
    h2
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse col-sm-8 d-flex justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" route="#">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/parts">Repuestos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cotizacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard">Ingresar</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


<!--<nav class="navbar navbar-expand-sm  navbar-dark bg-primary">-->

<!--  <div class="col-sm-4">-->
<!--    h2-->
<!--  </div>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse col-sm-8 d-flex justify-content-end" id="navbarNav">-->
<!--    <ul class="navbar-nav">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Servicios</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Blog</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Repuestos</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Cotizacion</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Ingresar</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->


<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <img src="./assets/img_1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="./assets/img_3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img_2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>
<div class="services">
  <div class="col-sm-12 d-flex justify-content-around">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/img_2.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/img_2.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/img_2.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <br>
  <div class="col-sm-12 d-flex justify-content-center">
    <a href="#" class="btn btn-outline-primary">Ver mas Servicios...</a>
  </div>
</div>
<br>
<div class="offers">

</div>

<div class="parts">
  <div class="col-sm-12 d-flex justify-content-around">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/img_2.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/img_2.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="./assets/img_2.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <br>
  <div class="col-sm-12 d-flex justify-content-center">
    <a href="#" class="btn btn-outline-primary">Ver mas repuestos...</a>
  </div>
</div>
