<div class="container-sm">
  <div class="col-sm-12">
    <h2> Cuanto le costara Reparar su celular</h2>
  </div>

  <div class="row d-flex justify-content-around">
    <form class="col-sm-4">

      <div class="form-group">
        <label for="brand">Seleccione Marca de su celular</label>
        <select class="form-control" id="brand">
          <option>Samsung</option>
          <option>Huawei</option>
          <option>Motorola</option>
          <option>iPhone</option>
          <option>ZTE</option>
          <option>Alcatel</option>
        </select>
      </div>
      <div class="form-group">
        <label for="model">Seleccione Modelo de su celular</label>
        <select class="form-control" id="model">
          <option>A10</option>
          <option>A10s</option>
          <option>A20</option>
          <option>A20s</option>
          <option>A30</option>
          <option>A50</option>
          <option>A80</option>
        </select>
      </div>
      <div class="form-group">
        <label for="repair">Seleccione Modelo de su celular</label>
        <select class="form-control" id="repair">
          <option>Pantalla roto/rajado</option>
          <option>Tactil/Glass Roto/Rajado</option>
          <option>El celular no carga</option>
          <option>Falla de Camara</option>
          <option>Se descarga el celular muy rapido</option>
          <option>Celular no prende</option>
          <option>otros</option>
        </select>
      </div>


<!--      <div class="form-group">-->
<!--        <label for="model">Precio aproximado</label>-->
<!--        <input type="text" class="form-control" id="price">-->
<!--      </div>-->

<!--      <div class="form-group form-check">-->
<!--        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--      </div>-->
      <button type="submit" class="btn btn-primary">Cotizar</button>
    </form>

    <div class="col-sm-4">
      <div class="form-group">
        <label for="price">Precio aproximado</label>
        <h4>s/ 250.00</h4>
      </div>
      <div class="form-group">
        <h3>Con Descuento</h3>
        <h2>s/ 180.00</h2>
      </div>
    </div>
  </div>
</div>
