<nav class="navbar navbar-expand-sm  navbar-dark bg-primary">
  <div class="col-sm-4">
    <a class="logo" routerLink="home">Tu Celular Seguro</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse col-sm-8 d-flex justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="services">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="parts" >Repuestos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="quote">Cotizacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="dashboard">Ingresar</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet ></router-outlet>



