<div class="row d-flex justify-content-end">
  <button routerLink="/form-customer" class="btn btn-outline-primary">+ Cliente</button>
</div>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Nombres</th>
    <th scope="col">DNI</th>
    <th scope="col">Telefono 1</th>
    <th scope="col">Telefono 2</th>
    <th scope="col">Acción</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <th>{{ customer.id }}</th>
    <th>{{ customer.name }}</th>
    <th>{{ customer.dni }}</th>
    <th>{{ customer.phone_1 }}</th>
    <th>{{ customer.phone_2 }}</th>
    <td>
      <button routerLink="/form-customer/{{ customer.id }}" class="btn btn-outline-primary">Editar</button>
    </td>
  </tr>
  </tbody>
</table>
